* text=auto

# overwrite language detection and stats on GitHub
# https://github.com/github-linguist/linguist/blob/main/docs/overrides.md
*.def linguist-language=tex
*.cfg linguist-language=tex

# l3build test files and outputs
*.lvt linguist-language=tex
*.pvt linguist-language=tex
*.tlg linguist-generated
*.tpf linguist-generated

# tabularray
tabularray/doc/** linguist-documentation
tabularray/**/*.html linguist-generated
*.4ht linguist-generated

# others
# optional? GitHub knows justfile
# https://github.com/github-linguist/linguist/blob/e63a690c1a7d3b08ef79190e10418f4584e46144/lib/linguist/languages.yml#L3711-L3727
justfile linguist-language=just
