# https://pre-commit.com/

# https://pre-commit.ci/#configuration
ci:
  autofix_commit_msg: |
      chore(deps) auto fixes from pre-commit.com hooks

      for more information, see https://pre-commit.ci
  autoupdate_commit_msg: 'chore(deps): pre-commit autoupdate'
  skip: [check-spelling, lint-expl3, lint-python]

# path separator is normalized to "/", so no need to use "[\\/]" in python
# regex, see
# https://github.com/pre-commit/pre-commit/commit/1509dc497e77d742278ae9f6ed19481a24c972f2
exclude: |
  (?x)^(
    .*\.(md5|tlg)|
    tabularray/trial/.*
  )$

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  # run "pre-commit autoupdate --freeze" to update the version
  rev: 3e8a8703264a2f4a69428a0aa4dcb512790b2c8c  # frozen: v6.0.0
  hooks:
  - id: check-case-conflict
  - id: check-illegal-windows-names
  - id: check-merge-conflict
  - id: check-toml
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: local
  hooks:
  # typos bumps version frequently, so use system installation instead of the
  # official pre-commit hook
  # https://github.com/crate-ci/typos/blob/master/docs/pre-commit.md
  # https://github.com/crate-ci/typos/blob/master/.pre-commit-hooks.yaml
  - id: check-spelling
    alias: typos
    name: Check spelling
    language: unsupported
    # same as the official `typos` hook args
    # https://github.com/crate-ci/typos/blob/ebc6aac34e3692b3ce373e13f4145e8980875396/.pre-commit-hooks.yaml
    entry: just typos
    pass_filenames: false
  - id: lint-expl3
    alias: explcheck
    name: Lint expl3 files
    language: unsupported
    entry: just explcheck
    # this file list is composed in .justfile too
    files: ^support/.*\.cfg|zutil/.*\.(sty|tex)$
    pass_filenames: false
  # there exists an official ruff pre-commit
  # https://github.com/astral-sh/ruff-pre-commit
  - id: lint-python
    alias: ruff
    name: Lint python files
    language: unsupported
    # `cd <dir> && <command>` never failed here, so use a command different
    # from that in just recipe `ruff`
    entry: just ruff check
    files: ^l3build-wrapper/
    # types_or: [python, pyi, jupyter]
    pass_filenames: false
# https://pre-commit.com/#meta-hooks
# "pre-commit run --hook-stage manual"
- repo: meta
  hooks:
  - id: check-hooks-apply
    stages: [manual]
  - id: check-useless-excludes
    stages: [manual]
  # "pre-commit run identity --hook-stage manual -a" prints all files not
  # excluded
  - id: identity
    stages: [manual]
