[settings]
env_shell_expand = true

[settings.task]
output = "keep-order"

[tasks.lint]
depends = ['lint:*']

[tasks."lint:expl3"]
description = 'Lint expl3 code'
alias = 'expl'
env.EXPLCHECK_CONFIG = '{{ get_env(name="EXPLCHECK_CONFIG", default="config/explcheck.toml") }}'
file = 'scripts/lint-expl3.sh'

[tasks."lint:python"]
description = 'Lint python code'
alias = 'ruff'
dir = 'l3build-wrapper'
usage = '''
arg "[command]" default="check"
'''
run = 'ruff {{ usage.command }}'

[tasks."lint:typos"]
description = "Check spelling"
alias = 'typos'
run = 'typos --config=config/typos.toml'

[tasks."lint:pre-commit"]
description = "Run pre-commit checks on all files"
alias = 'pre-commit'
env.SKIP = '{{ get_env(name="SKIP", default="typos,explcheck,ruff") }}'
run = [
  'echo "Skipped checks: {{ env.SKIP }}"',
  'pre-commit run --all-files --color=always'
]
