name: Lint

run-name: ${{ contains(fromJSON('["workflow_call", "workflow_dispatch"]'), github.event_name) && format('Lint ({0})', github.event_name) || '' }}

permissions:
  contents: read

on:
  pull_request:
    types:
      # added "ready_for_review"
      # https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#pull_request
      [opened, ready_for_review, reopened, synchronize]
  push:
  workflow_call:
    inputs: &inputs
      runs-on:
        description: "Image to run on"
        required: false
        type: string
        default: "ubuntu-latest"
  workflow_dispatch:
    inputs: *inputs

jobs:
  lint:
    name: "Lint${{ inputs.runs-on && format(' ({0})', inputs.runs-on) || '' }}"
    runs-on: ${{ inputs.runs-on || 'ubuntu-latest' }}
    timeout-minutes: 30

    # Overwrite the default `pwsh` shell on Windows, to get consistent
    # fast-fail behavior on all OSes. See the comment in `check.yml`.
    defaults:
      run:
        shell: bash

    steps:
    - uses: actions/checkout@v6

    - name: Setup TeX Live
      uses: TeX-Live/setup-texlive-action@v3
      with:
        packages: |
          luatex
          expltools
        update-all-packages: true

    - name: Setup pre-commit
      uses: muzimuzhi/actions/setup-pre-commit-uv@main
      with:
        run-pre-commit: false

    - name: Setup mise
      uses: jdx/mise-action@v3
      env:
        MISE_ENV: ci

    - name: Run pre-commit checks
      run: |
        mise run pre-commit
      env:
        PRE_COMMIT_COLOR: always

    - name: Check spelling
      run: |
        mise run typos

    - name: Lint expl3 code
      if: toJSON(inputs) == '{}'
      run: |
        mise run expl

    - name: Lint expl3 code (slow)
      # run only when triggered by `workflow_call` or `workflow_dispatch`
      if: toJSON(inputs) != '{}'
      run: |
        mise run expl --slow --verbose

    - name: Lint python code
      run: |
        mise run ruff
